<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
</div>

<%= form_with( url: orders_path, method: :get,id: "order_index", local: false )do |form| %>
  <%= form.label :status %>
  <%= form.collection_check_boxes :status, [['Waiting Pass', 'waiting pass'], ['Sending', 'sending'], ['Finished', 'finished']], :last, :first %>
  <%= form.submit 'Filter' %>
<% end %>
<%if  not current_user.has_role? :god %>
<%= link_to "back to products", products_read_path %>
  <%else %>
  <%= link_to "back to products", products_path %>
  <%end %>
<!--<%= link_to "New order", new_order_path %>-->