<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css' %>
  <%= stylesheet_link_tag 'http://jqueryui.com/resources/demos/style.css' %>
  <%= javascript_include_tag '//code.jquery.com/jquery-1.9.1.js' %>
  <%= javascript_include_tag '//code.jquery.com/ui/1.10.4/jquery-ui.js' %>
  <style>
      .ui-menu { width: 150px; }
  </style>
</head>
<body>
<!-- This is the menu -->
<ul id="menu">
  <li><a href="<%= products_path %>">Products</a></li>
  <!-- Add more menu items here -->
</ul>

<!-- This is where the content of each view is inserted -->
<%= yield %>
</body>
</html>