<div id="<%= dom_id shipping_info %>">
  <p>
    <strong>Receiver:</strong>
    <%= shipping_info.receiver %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shipping_info.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= shipping_info.phone_number %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= shipping_info.postal_code %>
  </p>

</div>
